<div class="container">
    <header>
        <nav class="header__nav w-120">
            <div class="header__logo">
                <img src="https://raw.githubusercontent.com/mustafadalga/farm-landing-page/master/assets/img/logo.svg"
                    alt="Logo" loading="lazy" draggable="false">
            </div>
            <div class="header__nav__content">
                <div class="nav-close-icon"></div>
                <ul class="header__menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link active">Home</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Product</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Team</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Blog</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Contact</a>
                    </li>
                </ul>
                <div class="header__signup" *ngIf="false">
                    <a href="#" class="btn btn__signup">
                        <i class="fas fa-user-plus"></i> Sign Up
                    </a>
                </div>
            </div>

            <div class="hamburger-menu-wrap">
                <div class="hamburger-menu">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </nav>
    </header>

    <section class="hero w-120">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__title">Innovative Solutions in Software Development</h1>
                <p class="hero__description">
                    I specialize in building scalable, efficient web applications with the latest technologies like
                    Angular, Node.js, and more.
                </p>
                <a href="#" class="btn btn__hero">Hire Us</a>
            </div>
            <div class="hero__img">
                <div id="cartoon" role="img" aria-labelledby="description">
                    <div id="description">Cartoon of a young man with curly hair</div>
                    <div class="hair-neck"></div>
                    <div class="body"></div>
                    <div class="ear"></div>
                    <div class="ear"></div>
                    <div class="neck"></div>
                    <div class="hair-back"></div>
                    <div class="face">
                        <div class="cheeks"></div>
                        <div class="eye">
                            <div class="pupil"></div>
                        </div>
                        <div class="eye">
                            <div class="pupil"></div>
                        </div>
                        <div class="mouth"></div>
                        <div class="freckles"></div>
                        <div class="nose"></div>
                    </div>
                    <div class="hair-top"></div>
                </div>
            </div>
        </div>
    </section>



    <section class="opportunities">
        <div class="opportunities__content w-105">
            <div class="opportunities__head">
                <h2 class="opportunities__title">Journey Begins</h2>
                <p class="opportunities__description">As a full-stack developer, I bring innovative solutions with a
                    strong focus on scalability and performance, leveraging cutting-edge technologies.</p>
            </div>
            <div class="opportunities__body">
                <div class="opportunity">
                    <i class="fas fa-laptop-code"></i>
                    <h4 class="opportunity__title">Frontend Development</h4>
                    <p class="opportunity__description">Creating visually appealing, responsive, and user-friendly
                        interfaces using Angular, React, HTML, CSS, and JavaScript.</p>
                </div>

                <div class="opportunity">
                    <i class="fa fa-database"></i>
                    <h4 class="opportunity__title">Backend Development</h4>
                    <p class="opportunity__description">Building robust, scalable server-side applications with Node.js,
                        Express, and MongoDB, integrating RESTful APIs to power efficient systems.</p>
                </div>

                <div class="opportunity">
                    <i class="fas fa-cloud"></i>
                    <h4 class="opportunity__title">Cloud & DevOps</h4>
                    <p class="opportunity__description">Experience with cloud platforms like AWS and DevOps tools such
                        as Docker and Kubernetes to streamline deployment and scalability.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="opportunities">
        <div class="opportunities__content w-105">
            <div class="opportunities__head">
                <h2 class="opportunities__title">Freelance Development Services</h2>
                <p class="opportunities__description">I prioritize transparency, collaboration, and security in every
                    project, offering solutions tailored to your needs.</p>
            </div>
            <div class="opportunities__body">
                <div class="opportunity">
                    <i class="fas fa-lock"></i>
                    <h4 class="opportunity__title">API Encryption/Decryption</h4>
                    <p class="opportunity__description">Robust data protection through secure API encryption/decryption
                        methods.</p>
                </div>

                <div class="opportunity">
                    <i class="fas fa-code"></i>
                    <h4 class="opportunity__title">Code Security</h4>
                    <p class="opportunity__description">Ensuring secure coding practices to safeguard your project from
                        vulnerabilities.</p>
                </div>

                <div class="opportunity">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <h4 class="opportunity__title">Cloud Backup</h4>
                    <p class="opportunity__description">Secure cloud backups to keep your code safe and accessible at
                        all times.</p>
                </div>

                <div class="opportunity">
                    <i class="fas fa-code-branch"></i>
                    <h4 class="opportunity__title">Azure Pipelines</h4>
                    <p class="opportunity__description">Effective issue tracking and bug management to ensure project
                        success.</p>
                </div>

                <div class="opportunity">
                    <i class="fas fa-comments"></i>
                    <h4 class="opportunity__title">Regular Communication</h4>
                    <p class="opportunity__description">Seamless collaboration using Slack and Trello for real-time
                        updates.</p>
                </div>

                <div class="opportunity">
                    <i class="fas fa-users"></i>
                    <h4 class="opportunity__title">Client Empowerment</h4>
                    <p class="opportunity__description">Providing knowledge and tools for clients to manage minor issues
                        independently.</p>
                </div>

                <div class="opportunity">
                    <i class="fas fa-calendar-check"></i>
                    <h4 class="opportunity__title">Project Timeline Management</h4>
                    <p class="opportunity__description">Strict adherence to timelines for the timely delivery of project
                        milestones.</p>
                </div>

                <div class="opportunity">
                    <i class="fas fa-gift"></i>
                    <h4 class="opportunity__title">Celebrating Success</h4>
                    <p class="opportunity__description">Commemorating project milestones with client celebrations and
                        rewards.</p>
                </div>
            </div>
        </div>
    </section>





    <section class="opportunities">
        <div class="opportunities__content w-105">
            <div class="opportunities__head">
                <h2 class="opportunities__title">Software Development
                    Methodologies We Use</h2>
                <p class="opportunities__description">We utilize DevOps, Scrum, Agile, and Waterfall methodologies in
                    our software development processes. These methodologies play a crucial role in managing projects
                    effectively, facilitating collaboration among teams, and ensuring successful project outcomes.</p>
            </div>
            <div class="opportunities__body">
                <div class="opportunity">
                    <img src="/DevOps.png" alt="DevOps" style="width: 60px;" loading="lazy" draggable="false">
                    <h4 class="opportunity__title">DevOps</h4>
                    <p class="opportunity__description">We combine development and operations through DevOps, making our
                        work faster and more collaborative with quick updates and smoother processes.</p>
                </div>

                <div class="opportunity">
                    <img src="/Scrum.png" alt="Scrum" style="width: 60px;" loading="lazy" draggable="false">
                    <h4 class="opportunity__title">Scrum</h4>
                    <p class="opportunity__description">Using Scrum, we break big tasks into smaller ones, work on them
                        in short cycles, and keep improving as we go, keeping everyone in sync.</p>
                </div>
                <div class="opportunity">
                    <img src="/Agile.png" alt="Agile" style="width: 60px;" loading="lazy" draggable="false">
                    <h4 class="opportunity__title">Agile</h4>
                    <p class="opportunity__description">With Agile, we stay flexible, work closely with our clients, and
                        deliver bits of the project regularly, adjusting easily to any changes.</p>
                </div>
                <div class="opportunity">
                    <img src="/Waterfall.png" alt="Waterfall" style="width: 60px;" loading="lazy" draggable="false">
                    <h4 class="opportunity__title">Waterfall</h4>
                    <p class="opportunity__description">We use Waterfall when we have everything planned out from the
                        start. It's a step-by-step approach that keeps things clear and organized.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="opportunities">
        <div class="opportunities__content w-105">
            <div class="opportunities__head">
                <h2 class="opportunities__title">Our Software Development Process</h2>
                <p class="opportunities__description">Our <b>software development process</b> ensures thorough planning,
                    agile development, and rigorous testing to deliver high-quality solutions. We prioritize
                    collaboration, transparency, and continuous improvement to meet and exceed client expectations.</p>
            </div>

            <div class="timeline">
                <div class="customcontainer left">
                    <img src="/public_define.svg" alt="Define" class="icon" style="width: 60px;" loading="lazy" draggable="false">
                    <div class="content">
                        <h2>Define</h2>
                        <p>Identify the objectives and scope of the software and create a detailed roadmap.</p>
                    </div>
                </div>

                <div class="customcontainer right">
                    <img src="/public_design.svg" alt="Design" class="icon" style="width: 60px;" loading="lazy" draggable="false">
                    <div class="content">
                        <h2>Design</h2>
                        <p>Develop user-centric designs and architecture for seamless use.</p>
                    </div>
                </div>

                <div class="customcontainer left">
                    <img src="/public_develop.svg" alt="Develop" class="icon" style="width: 60px;" loading="lazy" draggable="false">
                    <div class="content">
                        <h2>Develop</h2>
                        <p>Code the application using best practices and the latest technologies.</p>
                    </div>
                </div>

                <div class="customcontainer right">
                    <img src="/public_test.svg" alt="Test" class="icon" style="width: 60px;" loading="lazy" draggable="false">
                    <div class="content">
                        <h2>Test</h2>
                        <p>Conduct comprehensive testing to identify and fix any issues.</p>
                    </div>
                </div>

                <div class="customcontainer left">
                    <img src="/public_security.svg" alt="Deploy" class="icon" style="width: 60px;" loading="lazy" draggable="false">
                    <div class="content">
                        <h2>Deploy</h2>
                        <p>Implement the solution in the target environment with precision.</p>
                    </div>
                </div>

                <div class="customcontainer right">
                    <img src="/public_documentation.svg" alt="Maintain" class="icon" style="width: 60px;" loading="lazy" draggable="false">
                    <div class="content">
                        <h2>Maintain</h2>
                        <p>Offer continuous support, updates, and enhancements post-launch.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="opportunities">
        <div class="opportunities__content w-105" style="margin-bottom: unset;">
            <div class="opportunities__head">
                <h2 class="opportunities__title">Technologies We Use for
                    Custom Software Development</h2>
                <p class="opportunities__description">Our <b>software development team</b> is proficient in a wide range
                    of programming languages, frameworks, databases, and cloud technologies. We carefully select the
                    best technologies for each project to ensure optimal performance, security, scalability, and
                    flexibility.</p>
            </div>

            <section class="farm-invest w-105 opportunities">
                <div class="opportunities__body">
                    <ngx-slick-carousel class="carousel" [config]="slideConfig1">
                        <div ngxSlickItem *ngFor="let data of technologies; let i = index" class="slide">
                         <img [src]="data.img" [alt]="data.imageName" loading="lazy" draggable="false">
                        </div>
                      </ngx-slick-carousel>
                </div>
            </section>

        </div>
    </section>

    
    <section class="opportunities">
        <div class="opportunities__content w-105">
            <div class="opportunities__head">
                <h2 class="opportunities__title">Experience</h2>
                <p class="opportunities__description">I am a dedicated software developer with experience in collaborating with teams to design and implement effective software solutions. My focus on performance and continuous improvement has enabled me to successfully complete various freelance projects, delivering customized solutions that prioritize client satisfaction and communication. With a strong foundation in frontend and backend technologies, particularly Node.js and SQL databases, I have contributed to projects that enhance user experiences and optimize backend processes.</p>
            </div>
            <div class="opportunities__body">
                <div class="opportunity">
                    <div class="arrow-ribbon" *ngIf="false">2024-2025</div>
                    <img loading="lazy" draggable="false" src="/sbimf.png" alt="SBIMF" style="width: 60px;height: 60px;">

                    <h4 class="opportunity__title">Software Developer</h4>
                    <p class="opportunity__description">Worked collaboratively with a team to design and implement
                        software solutions. Focused on performance and contributing to project goals while continuously
                        improving skills in software development.</p>
                    <p><br></p>
                </div>

                <div class="opportunity">
                    <div class="arrow-ribbon" *ngIf="false">2023-2024</div>
                    <img loading="lazy" draggable="false" src="/appic.svg" alt="Appic" style="width: 80px;">
                    <h4 class="opportunity__title">Angular Developer</h4>
                    <p class="opportunity__description">Successfully completed various freelance projects, collaborating
                        with clients to deliver customized solutions. Managed project timelines and maintained clear
                        communication, resulting in high client satisfaction and repeat business.</p>
                    <p><br></p>
                </div>

                <div class="opportunity">
                    <div class="arrow-ribbon" *ngIf="false">2020-2023</div>
                    <img loading="lazy" draggable="false" src="/offee.png" alt="Offee" style="width: 80px;">
                    <h4 class="opportunity__title">Full Stack Developer</h4>
                    <p class="opportunity__description">Developed a strong foundation in frontend and backend
                        technologies, mastering Node.js and SQL databases. Contributed to multiple projects that
                        improved user experience and streamlined backend processes.</p>
                    <p><br></p>
                </div>
            </div>
        </div>
    </section>


    <section class="invest w-105" *ngIf="false">
        <div class="invest__content">
            <div class="invest__head">
                <h2 class="invest__title">Projects</h2>
                <p class="invest__description">Empower your development journey by honing key skills that drive
                    innovation and career growth in tech.</p>
            </div>
            <div class="invest__body">
                <div class="invest__item">
                    <div class="invest__item__body">
                        <h4 class="invest__item__title">Short-term Projects</h4>
                        <p class="invest__item_description">
                            Gain expertise in building dynamic UIs with technologies like Angular, React, HTML, and CSS.
                        </p>
                    </div>
                    <div class="invest__item__footer">
                        <a href="#" class="btn btn__farm--invest">Explore Projects</a>
                    </div>
                </div>
                <div class="invest__item">
                    <div class="invest__item__body">
                        <h4 class="invest__item__title">Long-term <br>Mastery</h4>
                        <p class="invest__item_description">
                            Deepen your knowledge in full-stack development, backend architecture, cloud computing, and
                            DevOps.
                        </p>
                    </div>
                    <div class="invest__item__footer">
                        <a href="#" class="btn btn__farm--invest">Explore Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="testimonials">
        <div class="testimonials__content">
            <div class="testimonials__head w-105">
                <img loading="lazy" draggable="false" src="https://raw.githubusercontent.com/mustafadalga/farm-landing-page/master/assets/img/quote.svg"
                    alt="Quote" class="testimonials__quote">
                <h2 class="testimonials__title">What fellow developers are saying about my work</h2>
            </div>
            <div class="testimonials__body">
                <div class="testimonials__list">
                    
              
                    <ngx-slick-carousel class="carousel" [config]="slideConfig2">
                        <div ngxSlickItem *ngFor="let testimonial of testimonials; let i = index" class="slide">
                          <div class="testimonial__profile">
                            <div class="testimonial__img">
                              <img [src]="testimonial.img" alt="Testimonial {{ i + 1 }}" loading="lazy" draggable="false">
                            </div>
                            <div class="testimonial__info">
                              <h4 class="testimonial__name">{{ testimonial.name }}</h4>
                              <h4 class="testimonial__title">{{ testimonial.title }}</h4>
                            </div>
                          </div>
                          <p class="testimonial__description">
                            {{ testimonial.description }}
                          </p>
                        </div>
                      </ngx-slick-carousel>
                      
                </div>

            </div>
        </div>
    </section>



    <section class="farm-invest w-105">
        <h2 class="farm-invest__title">Let's Discuss Your Project</h2>
        <p>Our solutions experts schedule a secure meeting within 24 hours.</p>
        <p>They recommend tailored skills and hiring models.</p>
        <p>You make informed decisions based on our expert guidance.</p>
        <a href="#" class="btn btn__farm--invest" *ngIf="true">Schedule A Discovery Call&nbsp;&nbsp;<i
                class="fas fa-arrow-right"></i></a>
    </section>









    <footer class="footer">
        <div class="footer__body w-105">
            <nav class="footer__nav">
                <ul class="footer_nav__menu">
                    <li class="footer_nav__item">
                        <h4 class="footer_nav__menu__title">COMPANY</h4>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">About Us</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Team</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Careers</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Contact</a>
                    </li>
                </ul>
                <ul class="footer_nav__menu">
                    <li class="footer_nav__item">
                        <h4 class="footer_nav__menu__title">INVEST</h4>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Features</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">How it works</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Pricing</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Login</a>
                    </li>
                </ul>
                <ul class="footer_nav__menu">
                    <li class="footer_nav__item">
                        <h4 class="footer_nav__menu__title">LEGAL</h4>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Privacy</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Terms</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Security</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__contact">
                <h5 class="footer__contact__title">DevInspire Solutions</h5>
                <span>Write email to us</span>
                <a href="mailto:info@DevInspireSolutions.com" class="email">{{'info@DevInspireSolutions.com'}}</a>
                <a href="#" class="btn btn__signin">
                    <i class="far fa-user"></i> Email Us
                </a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom__content w-105">
                <div class="footer__logo">
                    <img src="https://raw.githubusercontent.com/mustafadalga/farm-landing-page/master/assets/img/logo.svg"
                        alt="Logo" loading="lazy" draggable="false">
                </div>
                <p class="footer_copyright">
                    © Copyright 25th Sep 2024. DevInspire Solutions Pvt Ltd (Mumbai).
                </p>
            </div>
        </div>
    </footer>

    <a (click)="scrollToTop()" class="btn btn__hero scroll-top" *ngIf="scrollValue >=800">Scroll Top <i class="fas fa-angle-double-up"></i></a>
</div>